body,
html {
  font-family: "Poppins", sans-serif;
}

body a,
html a {
  outline: none;
}

.link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.link-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column; /* Change to column for vertical stacking */
  align-items: center;
}

li {
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 15px; /* Adjust margin-bottom as needed */
  border-radius: 15px; /* Corrected the border-radius property */
  background-color: #d6e4e5;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  width: 250px;
}

a {
  color: #497174 !important;
}

a:hover {
  color: #092635 !important;
}

body #image,
html #image {
  transition: all 0.5s ease;
  background-position: center;
}

body #image:hover,
html #image:hover {
  transform: scale(1.05);
}

body #image ::after,
html #image ::after {
  background-color: black;
}

body .links,
html .links {
  transition: all ease 0.25s;
  text-shadow: 0 0.05rem 0.25rem rgba(0, 0, 0, 0.05);
}

body .links:hover,
html .links:hover {
  transform: scale(1.05);
}

body .links:hover,
html .links:hover {
  text-shadow: 0 0.15rem 0.5rem rgba(0, 0, 0, 0.15);
}

body .links .fa-hand-paper,
html .links .fa-hand-paper {
  -moz-transform: scale(-1, 1) rotate(45deg);
  -webkit-transform: scale(-1, 1) rotate(45deg);
  -o-transform: scale(-1, 1) rotate(45deg);
  -ms-transform: scale(-1, 1) rotate(45deg);
  transform: scale(-1, 1) rotate(45deg);
}

body .links #link-content,
html .links #link-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  width: 100vw;
  height: 100%;
  background: linear-gradient(-45deg, #497174, #d6e4e5, #497174, #d6e4e5);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  z-index: -1;
  position: fixed;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

h1,
p {
  color: #eff5f5;
}
